@import "tailwindcss";
@import "tw-animate-css";
@import "@/styles/shadcn-ui-theme.css";

@custom-variant dark (&:is(.dark *));

/* Import GitHub markdown CSS for both light and dark mode */
@import '@style/github-markdown-light.css';
/* @import 'github-markdown-css/github-markdown-dark.css'; */
.markdown-body ol {
  list-style-type: decimal !important;
  margin-left: 1.5em;
}
.markdown-body ul {
  list-style-type: disc !important;
  margin-left: 1.5em;
}
/* global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f9fafb;
  color: #333;
}

